<%= form_with url: "bookings/new/", method: "get", local: true do |form| %>
  <%= form.hidden_field :passenger_count, :value => params[:passenger_count] %>
    <div class="radio-button-container">
      <% @booking_options.each do |booking| %>
        <div class="radio-button">
          <%= form.radio_button :booking_option, { required: true } %>
          <%= booking.departure_airport.name %>
          <%= booking.arrival_airport.name %>
          <%= booking.start_date %>
        </div>
      <% end %>  
    </div>

    <% if @booking_options.empty? %>
    <p>Sorry, no flights match your search criteria.</p>
  <% else %>
    <div class="form-button">
      <%= form.submit "Book Flight" %>
    </div>
  <% end %>
<% end %>