<div class="section">
  <div class="container" id="pass-info">
    
    <p class="title is-2">Complete booking</p>

    <%= form_with model: @booking, local: true do |form| %>

      <%= form.hidden_field :booking_option, :value => params[:booking_option] %>
      <%= form.hidden_field :flight_id, :value => params[:flight_id] %>

      <%= form.fields_for :users do |passengers_form| %>
        <div class="card">
          <div class="card-header">
            <p class="subtitle is-3">Passenger Info</p>
          </div>
          <div class="card-content">
            <div class="input-container">
              <%= passengers_form.text_field :name, placeholder: 'First Name', class:"input" %>
            </div>
            <div class="input-container">
              <%= passengers_form.text_field :lastname, placeholder: 'Last Name', class:"input" %>
            </div>
            <div class="input-container">
              <%= passengers_form.text_field :email, placeholder: 'email', class:"input" %>
            </div>
            <div class="form-button">
              <%= form.submit "Submit", class:"button is-success" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
