<div class="section">
  <div class="container" id="pass-info">
    <div class="card" id="pass-info">
      <% @booking.users.each do |user| %>
        <div class="card-header">
          <div class="title is-5">Passenger info</div>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="label">First Name:</div>
            <span><%= user.name %></span>
          </div>
          <div class="row">
            <div class="label">Last Name:</div>
            <span><%= user.lastname %></span>
          </div>
          <div class="row">
            <div class="label">Email:</div>
            <span><%= user.email %></span>
          </div>
        </div> 
      <% end %> 
    </div>
  </div>
  <div class="container" id="pass-info">
    <div class="card" id="pass-info">
      <div class="card-header">
            <div class="title is-5">Flight info</div>
      </div>
      <% Flight.where(:id => @booking.flight_id).each do |flight| %>
        <div class="card-content">
          <div class="row">
            <div class="label">Departure Airport::</div>
            <span><%= flight.departure_airport.name %></span>
          </div>
          <div class="row">
            <div class="label">Arrival Airport:</div>
            <span> <%= flight.arrival_airport.name %></span>
          </div>
          <div class="row">
            <div class="label">Date:</div>
            <span> <%= flight.start_date %></span>
          </div>
          <div class="row">
            <div class="label">Duration:</div>
            <span> <%= flight.duration %></span>
          </div>
        </div>  
      <% end %>
    </div> 
  </div>   
</div>
